[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
matplotlib = "*"
numpy = "*"
perlin-numpy = {git = "https://github.com/pvigier/perlin-numpy"}

[dev-packages]

[requires]
python_version = "3.10"
